.allfoot {
    height: fit-content;
}
.containersocial img {
    width: 50px;
}
.footercontainer {
    width: 100%;
    background-color: #D294BB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
 
}
.containerfooter {
    width: 90%;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    border-bottom: 1px solid black;

}
.containersocial {
    display: flex;
    padding-bottom: 15px;
}
.newsletter {
    display: flex;
    padding-bottom: 15px;
    height: 2.5rem;
}
.newsletter input {
    border-radius: 10px 0 0 10px;
    width: 50%;
    height: 1.5rem;
    border: none;
    padding: 5px;
}
.newsletter button{
    background-color: #0152A8;
    border-radius: 0 10px 10px 0;
 display: flex;
 justify-content: center;
 align-content: center;
    border: none;
    width: 60px;

}


.des {
    width: 70%;
    padding: 5px 0;

}

.description  {
    display: block;

}
.conatinercategories {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 80%;
}
.cpoyrights {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 50px;
    padding-bottom: 5px;
}
.moreinfo {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.moreinfo span {
    padding-left: 15px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;

}
.moreinfo span:hover {
    color: #0152A8;
}
.ecje {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.ecje span {
    font-size: 500;
    font-size: 0.8rem;
}
.boxcateg {
    display: flex;
    justify-content: left;
    align-items: center;
}
.boxcateg span {
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}



@media (max-width: 750px) {
    .containerfooter {
        display: grid;
        grid-template-rows: auto auto   ;
        grid-template-columns: 3fr 1fr;
    }
}